@model OpenTidl.Models.Base.JsonList<OpenTidl.Models.Base.JsonListItem<OpenTidl.Models.PlaylistModel>>
@{
    ViewBag.Title = "Your Favorite Playlists";
    var counter = 1;
}

@section css{
    <link rel="stylesheet" href="/bower_components/datatables/media/css/dataTables.bootstrap.min.css" />
}

<h2>Yer Favorite Playlists in Tidal</h2>
<table id="playlists-table" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Title</th>
            <th>Created</th>
            <th>Last updated</th>
            <th>Duration</th>
            <th>Tracks</th>
            <th>Faved</th>
            <th>Description</th>
            <th>Creator</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jsonListItem in Model.Items)
        {
            var created = jsonListItem.Created;
            var playlist = jsonListItem.Item;
            @TidalPlaylists.RenderTableRow(this, playlist, counter, created)
            {
                counter++;
            }
        }
    </tbody>
</table>

@section scripts{
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#playlists-table').DataTable({
                paging: false
            });
        });
    </script>
}